<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-5">
            <div class="p-5 card text-center mb-3">
                <div class="card-body">
                    <h5 class="card-title">Gestion des sociétés</h5>
                    <i class="bi bi-building" style="font-size: 60px;color: #673ab7;"></i>
                    <p class="card-text">Un outil à votre disposition pour gérer les sociétés de votre choix.</p>
                    <p class="card-text">Vous pouvez aussi créer et ainsi modifiés toutes les entreprises</p>
                    <a routerLink="/societes" class="btn btn-light">C'est par ici !</a>
                </div>
            </div>
        </div>
    </div>
</div>
